.loc {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  background: #fff;
  margin-top: 5rem;
  > .location-search {
    margin-bottom: 5%;

    > #location-bar {
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 25px;
      width: 300px;
      outline: none;
      height: 50%;
    }
    > #location-bar::placeholder {
      color: #aaa;
    }

    > #location-bar:focus {
      border-color: #007bff;
      box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    }
  }

  > .current-location-container {
    display: flex;
    align-items: center;
    align-content: center;

    > .current-location {
      > .location-image {
        margin-left: 4%;
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
    > .location-info {
      > .location {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  > .text-location-container {
    display: flex;
    align-items: center;
    align-content: center;

    > .text-location {
      display: flex;
      margin-left: 2%;
      margin-top: 2%;

      > .address-image {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
    > .text-location-info {
      margin-left: 8%;
      display: flex;

      > .address {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
